# Binaries for programs and plugins
/bin/
/dist/
/*.exe
/*.exe~ 
/*.dll
/*.so
/*.dylib

# Test binary, build output
*.test
*.out

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
*.tmp
*.temp

